.width500 {
  width: 500px;
}

.adminButton {
  width: 120px;
}

.saveButton {
  margin-top: -35px;
  justify-content: right;
  display: flex;
}

.upperPanelButton {
  width: 120px
}

.addButton {
  top: 1vh;
  width: 20vh;
}

.gridItem {
  margin-top: 3vh;
}

.categoryTableHeight {
  height: 41vh;
}

.filterGrid10{
  height: 10px;
  width: 200px;
}

.filterGrid60{
  height: 60px;
  width: 200px;
}

.width200{
  width: 200px;
}

.margin5 {
  margin: 5px
}