.width500 {
  width: 500px;
}

.adminButton {
  size: large;
  width: 350px;
}

.saveButton {
  margin-top: -35px;
  justify-content: right;
  display: flex;
}

.adminGrid {
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  justify-content: center;
  display: flex;
}
