.width500 {
  width: 500px;
}

.adminButton {
  width: 120px;
}

.saveButton {
  margin-top: -35px;
  justify-content: right;
  display: flex;
}

.adminGrid {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 60vh;
}

.upperPanelButton {
  width: 120px
}

.addButton {
  width: 20vh;
  margin-top: 1vh
}